.button {
    -fx-background-color: #1a535c;
    -fx-text-fill: white;
}

#deleteBtn {
    -fx-background-color: #ce4141;
}

.button:pressed {
    -fx-background-color: #4ecdc4;
}

.button:focused, .tab:focused {
    -fx-opacity: 0.8;
    -fx-border-style: solid;
    -fx-border-color: darkgrey;
    -fx-border-width: 1;
}

.tab {
    -fx-background-color: #4ecdc4;
    -fx-background-insets: 0.0;
    -fx-background-radius: 0.0;
}

.tab:selected {
    -fx-background-color: #1a535c;
}

.tab .tab-label {
    -fx-text-fill: white;
}

.button:hover, .tab:hover {
    -fx-cursor: hand;
    -fx-opacity: 0.8;
}

.tab-pane .tab-header-background {
    -fx-background-color: #bfc4bf;
}

.scroll-pane {
    -fx-background-color: #f7fff7;
}

.h-box {
    -fx-background-color: #f7fff7;
}

.v-box {
    -fx-background-color: #f7fff7;
}

.list-cell:filled:hover {
    -fx-text-fill: black;
    -fx-background-color: #80C8F2;
}

.list-cell:odd {
    -fx-background-color: #bfc4bf;
}

.combo-box .list-cell:even {
    -fx-background-color: white;
}

.list-view {
    -fx-border-width: 2px;
    -fx-border-color: black;
    -fx-font-size: 10px;
}

.label {
    -fx-text-fill: #4d454c;
    -fx-padding: 5px;
}

.list-cell:filled:selected {
    -fx-text-fill: black;
    -fx-background-color: #5c96b7;
}

.combo-box{
    -fx-border-color: #1a535c;
    -fx-border-style: solid;
    -fx-border-width: 1;
}
.combo-box .arrow{
    -fx-background-color: #1a535c;
}
.combo-box .arrow-button{
    -fx-background-color: #f7fff7;
    -fx-border-style: none;
}
.combo-box .arrow-button{
    -fx-background-color: #f7fff7;
}

.combo-box .list-cell:filled:selected {
    -fx-text-fill: black;
    -fx-background-color: #5c96b7;
}

.combo-box .list-cell:filled:hover {
    -fx-text-fill: black;
    -fx-background-color: #80C8F2;
}